[data-theme="dark"] {
    --primary-color: #b36b00;
    --secondary-color: #f4f4f4;
    --background-color: #333;
    --text-color: #f4f4f4;
}

[data-theme="light"] {
    --primary-color: #0056b3;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #0e0d0d;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.search-container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.search-container form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    width: 300px;
}

.search-container button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #555;
}
header {
    background: linear-gradient(to right, white,  #b36b00);
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 100px;
    height: 100px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #0d0e0d;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

nav {
    text-align: center;
    margin: 1rem 0;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--primary-color);
}

.container {
    flex: 1;
    padding-bottom: 50px;
}

.main-content {
    background: var(--background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.responsive-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.responsive-image:hover {
    transform: scale(1.05);
}
.button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #b36b00;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color);
    color: black;
    border: 2px solid #4CAF50;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
#testimonials {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
}

#testimonials h2 {
    text-align: center;
    margin-bottom: 20px;
}

.testimonial {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
}

.testimonial p {
    margin: 5px 0;
}

.fa-facebook { background: #3B5998; }
.fa-twitter { background: #55ACEE; }
.fa-instagram { background: #E4405F; }
.fa-linkedin { background: #0077B5; }
.fa-youtube { background: #FF0000; }

/* Cookie Consent Popup Styles */
#cookieConsent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 50px;
    z-index: 10000;
    display: none; /* Initially hidden */
    opacity: 0;
    transition: opacity 1s ease-in-out, bottom 1s ease-in-out; /* Slow fade-in effect */
}

.cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#cookieConsent p {
    margin: 0;
    padding: 0;
    flex: 1 1 100%;
}

#cookieConsent a {
    color: #ffa500;
    text-decoration: underline;
}

#cookieConsent button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    flex: 1 1 auto;
}

#cookieConsent button:hover {
    background-color: #ff8c00;
}

#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#chatbotIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#chatWindow {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

#chatHeader {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatBody {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

#chatInput {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 22px);
    margin: 10px;
    border-radius: 5px;
}

#sendBtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.closeChat {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer; /* Ensure the cursor is a pointer */
    color: #fff; /* Ensure close button is white */
}

footer {
    background-color: #b36b00;
    color: black;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav a {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .container {
        padding: 10px;
    }
}

/* Slideshow styles */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {opacity: 0.4} 
    to {opacity: 1}
}

